<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="p-4 rounded bg-dark text-white"
        style="font-family: Arial, sans-serif;">
        <h1 class="h3 mb-4 fw-normal text-center">Cita</h1>
        <div class="mb-3">
          <label for="FechaYHora" class="form-label fs-6">Fecha Y Hora</label>
          <input type="datetime-local" class="form-control fs-6" id="FechaYHora" aria-describedby="emailHelp"
            [(ngModel)]="datocita.fechaYhora" name="FechaYHora" required email>
        </div>
        <div class="mb-3">
          <label for="MotivoCita" class="form-label fs-6">Motivo Cita</label>
          <input type="text" class="form-control fs-6" id="MotivoCita" [(ngModel)]="datocita.motivoCita"
            name="MotivoCita" required>
        </div>
        <div class="mb-3">
          <label for="UbicacionCita" class="form-label fs-6">Ubicacion Cita</label>
          <input type="text" class="form-control fs-6" id="UbicacionCita" [(ngModel)]="datocita.ubicacionCita"
            name="UbicacionCita" required>
        </div>
        <div class="mb-3">
          <label for="DuracionEstimada" class="form-label fs-6">Duracion Estimada</label>
          <input type="text" class="form-control fs-6" id="DuracionEstimada" [(ngModel)]="datocita.duracionEstimada"
            name="DuracionEstimada" required>
        </div>
        <div class="mb-3">
          <label for="NombreDelProfesional" class="form-label fs-6">Nombre Del Profesional</label>
          <input type="text" class="form-control fs-6" id="NombreDelProfesional"
            [(ngModel)]="datocita.nombreDelProfesional" name="NombreDelProfesional" required>
        </div>
        <div class="mb-3">
          <label for="NotasAdicionales" class="form-label fs-6">Notas Adicionales</label>
          <input type="text" class="form-control fs-6" id="NotasAdicionales" [(ngModel)]="datocita.notasAdicionales"
            name="NotasAdicionales" required>
        </div>
        <div class="mb-3">
          <label for="EstadoCita" class="form-label fs-6">Estado Cita</label>
          <input type="text" class="form-control fs-6" id="EstadoCita" [(ngModel)]="datocita.estadoCita"
            name="EstadoCita" required>
        </div>
        <button type="submit" class="btn btn-light mb-2 w-100">Agregar</button>

      </form>
    </div>
    <div class="col-md-8">
      <app-tabla-cita [cita]="misCitas" class="mt-5 bg-dark text-white"></app-tabla-cita>
    </div>
  </div>
</div>