@using GestorDeCitas.Application.DTOs
@model DTOEmail

<!DOCTYPE html>
<html>
<head>
    <title>Recuperar contraseña</title>
</head>
<body>
    <p>Para restablecer su contraseña, haga clic en el siguiente enlace:</p>
    <a href="@Model.RecoveryLink">Recuperar contraseña</a>
</body>
</html>