@using GestorDeCitas.Application.DTOs
@model DTOEmail

<!DOCTYPE html>
<html>
<head>
    <title>Confirmar correo </title>
</head>
<body>
    <p>Para confirmar el correo, haga clic en el siguiente enlace:</p>
    <a href="@Model.RecoveryLink">Confirmar registro</a>
</body>
</html>