<div class="table-responsive">


  <table class="table">

    <thead>
      <tr>
        <th scope="col">Fecha y hora</th>
        <th scope="col">Motivo Cita</th>
        <th scope="col">Ubicacion Cita</th>
        <th scope="col">Duracion Estimada</th>
        <th scope="col">Nombre del profesional</th>
        <th scope="col">Notas adicionales</th>
        <th scope="col">Estado Cita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let citaIndividual  of cita; let i = index; ">
        <td>{{ citaIndividual.fechaYhora | date:'dd/MM/YYY' }}</td>
        <td>{{ citaIndividual.motivoCita }}</td>
        <td>{{ citaIndividual.ubicacionCita }}</td>
        <td>{{ citaIndividual.duracionEstimada }}</td>
        <td>{{ citaIndividual.nombreDelProfesional }}</td>
        <td>{{ citaIndividual.notasAdicionales }}</td>
        <td>{{ citaIndividual.estadoCita }}</td>

        <td>

          <div class="d-flex flex-column">
            <!-- <button type="button" class="btn btn-danger mb-2" (click)="eliminarCita(citas)">
              Eliminar Tarea
            </button> -->
            <!-- <button type="button" class="btn btn-info mb-2" (click)="editarTarea(tarea)">
              Editar Tarea
            </button> -->

            <!-- <button type="button" class="btn btn-info mb-2" (click)="cambiarestadotarea(i)">Realizada</button>
            <button type="button" class="btn btn-primary mb-2 " (click)="cambiarestadotareaProgreso(i)">Tarea en
              progreso/Completar Tarea</button> -->
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>